/****************/
/* CLASSES ******/
/****************/
.animation-fadeIn {
    animation: fadeIn 1s;
}

.animation-fadeOut {
    animation: fadeOut 1s;
}

.animation-fadeInUp {
    animation: fadeInUp 1s;
}

.animation-fadeOutDown {
    animation: fadeOutDown 1s;
}

/****************/
/* KEYFRAMES ****/
/****************/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}