@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
@import url('themes.css');

body {
    font-family: 'Onest', sans-serif;
    background: var(--bg-color);
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    text-align: center;
}

h1 {
    color: var(--text-color-secondary);
    font-size: 3em;
}

p {
    color: var(--text-color-primary);
    font-size: 1.2em;
}

a {
    color: var(--text-color-tertiary);
    text-decoration: none;
    transition: 200ms ease-in-out;
}

a:hover {
    color: var(--text-color-secondary);
}

@media ( max-width: 500px ) {
    body {
        max-width: 325px;
    }
}